body, html
{
    height: 100%;
    background-image: url("background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customBorderCss
{
   width: 800px;
   margin: 30px auto;
   background-color: rgba(235, 102, 49, 0.5);
}