body, html
{
    color: white;
    height: 100%;
}

h1, h3
{
    color: white;
}

.customBorderCss
{
   width: 800px;
   margin: 30px auto;
   background-color: rgba(235, 102, 49, 0.5);
}

.card
{
    background-color: rgba(0,0,0, 0);
    border-color: white;
}

.cardHalozat
{
    background-color: rgba(255,255,255,0.75);
    height: 100%;
}

.card-wrapper
{
    margin-bottom: 5%;
}

.card-text
{
    line-height: 200%;
    font-size: large;
}


.prog-body
{
    background-image: url("prog.jpg");
    background-size: auto;
    background-attachment: fixed;
    margin: 8%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
} 

.bg-text
{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.mainImage
{
    background-image: url("background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

    filter: blur(8px); 
}

.halozat-image::before
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('halozat_bg.jpg');
    background-size:cover;
    width: 100%;
    height: 100%;

    filter: blur(8px);
}

.center-div
{
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 70%;
    background-color: rgba(255,255,255,0.75);
    border-radius: 5px;
}

.br
{
    height: 5em;
}

form
{
    color: black;
}

.form
{
    color: black;
    text-align: center;
}

a
{
    text-decoration: none;
    color: white;
}

a :hover
{
    color: blue;
    text-decoration: none;
}

.colorBlack
{
    color: black
}

.colorBlack :hover
{
    color: black;
}

.footerClass
{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 1;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: sticky;
}

.prog-footer
{
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}

.borderDescription
{
    text-align: left;
    margin: auto;
    padding: 20px;
    width: 70%;
    background-color: rgba(255,255,255,0.75);
    border-radius: 5px;
    border: 2px solid white;
}

.coloring
{
    color: black;
}

nav
{
    font-weight: bold;
}
